<div class="inventory_product_outer">
    <div class="save_exit" id="save_exit">
        <button id="save" class="save_exit_button"><img class="edit_icons" src="../imgs/save.png"></button>
        <button id="exit" class="save_exit_button"> Exit </button>
    </div>
    {{#if product.pictures}}
        <img src="/uploads/{{product.pictures.[0]}}.jpg" id="{{product._id}}" class="inventory_product_image"> <br>
    {{else}}
        <div class="no_image_found">
            Intet Billede Fundet
        </div> <br>
    {{/if}}
    <label><b>Product navn: </b><input type="text" id="inventory_product_edit_name" value="{{product.name}}"></label><br> <br>
    <label><b>Product beskrivelse: </b><br><textarea id="inventory_product_edit_description" rows="8" cols="48">{{product.description}}</textarea></label><br> <br>


    <span class="inventory_product_info"><b>Sidst opdateret:</b></span> {{product.updated}} <br> <br>
    <span class="inventory_product_info"><b>Oprettet:</b></span> {{product.created}} <br> <br>

    <label><b>Antal på lager: </b><input type="number" id="inventory_product_edit_amount" value="{{product.amount}}"></label><br> <br>
    <label><b>Antal Produkter reserveret: </b><input type="number" id="inventory_product_edit_reservedamount" value="{{product.reservedAmount}}"></label><br> <br>

    <label for="inventory_product_edit_unique"><b>Er produkt unik: </b> <input type="checkbox" id="inventory_product_edit_unique" value="{{product.unique}}"> </label> <br> <br>
    <label><b>Kategorier: </b><input list="categories" id="inventory_product_edit_categories">
        <datalist id="categories_datalist"></datalist>
    </label><br> <br>
    <ul>
        {{#each product.categories}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    <span class="inventory_product_info"><b>Pris:</b> {{product.price}}</span> <br> <br>
    {{#if product.discount}}
    <span class="inventory_product_info"><b>Rabat:</b> {{product.discount}}</span> <br> <br>
    {{/if}}
</div>