<div class="inventory_product_outer">
    {{#if product.pictures}}
        <img src="/uploads/{{product.pictures.[0]}}.jpg" id="{{product._id}}" class="inventory_product_image">
    {{else}}
        <div class="no_image_found">
            Intet Billede Fundet
        </div>
    {{/if}}
    <br>
    <span class="inventory_product_info"><b>Produkt navn:</b> {{product.name}}</span> <br> <br>
    <span class="inventory_product_info"><b>Produkt beskrivelse:</b> {{product.description}}</span> <br> <br>
    <span class="inventory_product_info"><b>Sidst opdateret:</b> {{product.updated}}</span> <br> <br>
    <span class="inventory_product_info"><b>Oprettet:</b> {{product.created}}</span> <br> <br>
    <span class="inventory_product_info"><b>Antal på lager:</b> {{product.amount}}</span> <br> <br>
    <span class="inventory_product_info"><b>Antal produkter reserveret:</b> {{product.reservedAmount}}</span> <br> <br>
    {{#if product.unique}}
    <span class="inventory_product_info"><b>Produkt er unik</b></span> <br> <br>
    {{/if}}
    <div class="inventory_product_categories">
        <span class="inventory_product_info"><b>Produkts kategorier:</b></span> <br> <br>
    {{#each product.categories}}
        <span class="inventory_product_categories_individual"> &nbsp &nbsp &nbsp &nbsp {{this}}</span> <br>
    {{/each}}
    </div> <br>

    <span class="inventory_product_info"><b>Pris:</b> {{product.price}}</span> <br> <br>
    {{#if product.discount}}
    <span class="inventory_product_info"><b>Rabat:</b> {{product.discount}}</span> <br> <br>
    {{/if}}
</div>