{{#each product}}
    <a href="product.html?{{this._id}}">
        <div class="products-content">
            <a href="product.html?{{this._id}}">
                <div class="product-picturebox">
                    <div class="bottomleft"><p class="product-name">{{this.name}}</p></div>
                    <img class="product-picture" src="/uploads/{{this.pictures.[0]}}.jpg">
                </div>
            </a>
            <div class="products-price-reservation">
                <div class="products-price">
                    <p>{{this.price}} kr.</p>
                </div>
                {{#if this.unique}}
                    <div class="products-reservation">
                        <a class="reservation" data-product="{{this.name}}" href="#">Reservér</a>
                    </div>
                {{/if}}
            </div>
        </div>
    </a>
{{/each}}