{{#each product}}
    {{#ifCond product.price 200}}
        <div class="main-product-picture">
            <img id="main-product-bigPicture" src="/uploads/{{product.picture.[0]}}.jpg">
            <br>
            <div class="main-product-mini-container">
                {{#each product.picture}}
                    <img src="/uploads/{{this}}.jpg" class="main-product-mini" onclick="galleriFunction(this);">
                {{/each}}
            </div>
        </div>
        <div class="main-product-info">
            <div class="main-product-description">
                <h1>{{product.name}}</h1>
                <p class="main-product-price">{{product.price}} kr.</p>
                {{#if product.unique}}
                    <a href="#" class="reservation">Reserversion</a>
                {{/if}}
                <p class="main-product-status">Antal på lager: {{product.amount}} stk.</p>

                <p>{{product.discription}}</p>
            </div>
        </div>
    {{else}}

    {{/ifCond}}
{{/each}}




